<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <center>
        <h1>
            {% if a > b %}
            <h1>inside if block</h1>
        <h1>a is greater</h1>
        {% else %}
        <h1>inside else block</h1>
        <h1>b is greater than a</h1>
        </h1>
        {% endif %}
        
    </center>
-->
<!--
<center>
    <h1>
        {% if a > b %}
        <h1>inside if block</h1>
    <h1>a is greater</h1>
    {% elif b > c %}
    <h1>inside else block</h1>
    <h1>b is greater</h1>
    </h1>
    {% else %}
    <h1>inside else block</h1>
    <h1>c is greater</h1>
    {% endif %}
-->

</body>
</html>